<p class="day-date mat-title">{{day.date | date:'dd.MM.yyyy'}}</p>

<div class="main-grid" #dayGrid>
  <div class="ea-schedule-grid streams" *ngIf="streams.length > 0">
    <div class="sub-grid" [style.grid-template-columns]="gridTemplateColumns">
      <div class="cell stream" *ngFor="let stream of streams"
        [style.background]="stream.color"
        [style.color]="resolveTextColor(stream.color)">
        {{stream.name}}
      </div>
    </div>
  </div>
  <div class="ea-schedule-grid time-slots" *ngFor="let hour of hours" [id]="getIdForTimeRow(hour)">
    <div class="cell time">{{hour}}</div>
    <div class="sub-grid" [style.grid-template-columns]="gridTemplateColumns">
      <div class="cell time-slot" *ngFor="let timeSlotGridItem of slotsMap[hour]"
           [style.grid-column-end]="'span ' + timeSlotGridItem.colSpan"
           [style.background]="timeSlotGridItem.bgColor"
           [style.color]="timeSlotGridItem.textColor"
           [class.break-slot]="timeSlotGridItem.timeSlot.isBreak">
        <ea-time-slot [timeSlot]="timeSlotGridItem.timeSlot"></ea-time-slot>
      </div>
    </div>
  </div>
</div>
